body{
    background-image:url("agri.jpeg");
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
}
h1,p{
    color:white;
}
#progress
{
    width:300px;
    height:7px;
    border:2px solid white;
    border-radius:34px;
    position:relative;
    animation:animate 1s cubic-bezier(1,0,0,5,1) forwards;
}
#progress span{
    position:absolute;
    width:0%;
    height:7px;
    background-color:rgb(63, 63, 233);
    animation-name:load;
    animation-duration:2s;
    animation-fill-mode:forwards;
}
#center
{
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
   height:100vh;
}
@keyframes load
{
    25%
    {
        width:25%;
    }
    50%
    {
        width:50%;
    }
    75%
    {
        width:75%;
    }
    90%
    {
        width:90%;
    }
    100%
    {
      width:100%;
    }
}