body{
    background-color: rgb(241, 236, 236);
}

.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-left:65px;
    background-image:linear-gradient(to right,rgb(241, 236, 236),rgb(203, 227, 246));
}
.pest{
    background-color: white;
    width:220px;
    margin:25px;
    box-shadow:5px 5px 5px 5px rgb(203, 223, 229);
}

img{
    margin-left:20px;
    width:80%;
    height:60%;
    object-fit:contain;   
}

dt{
    margin-left:26px;
    margin-bottom:6px;
}

dl{
    color:rgb(57, 96, 83);
}

p{
    margin-top:0;
    margin-left:12px;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cost{
    color:crimson;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
}

#amazon{
    justify-content: right;
}